.journal-page {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 5%;
}

.left-nav {
  border: 2px dashed var(--accent-color);
  padding: 5px;
  text-align: center;
}

.left-nav h2 {
  margin-bottom: 10px;
}

.left-nav ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 20px;
}

.left-nav a {
  color: var(--accent-color);
  font-family: var(--font-title);
  font-size: 1rem;
}

main {
  margin-left: 10%;
}

.page-title {
  font-size: 2.5rem;
  margin-bottom: 3px;
}

.disclaimer {
  margin-bottom: 15px;
}

.entry {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  border: 2px dashed var(--accent-color);
  padding: 20px;
}

.link-entry {
  color: var(--text-color) !important;
}

.entry small {
  color: #777;
  font-size: 0.6em;
  display: block;
  margin-bottom: 5px;
}
